@import "./variable.scss";

@mixin flex {display: flex; flex-wrap: wrap; }
/** 垂直居中 */
@mixin fvertical { align-items: center; }
// 水平居中
@mixin fcenter { justify-content: center; }
// 右对齐
@mixin fright{ flex-direction: row; justify-content: flex-end; }

// 溢出...显示
@mixin ellipsis($number) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $number;
    overflow: hidden;
}

@mixin button {
    font-size: 30rpx;
    min-width: 160rpx;
    padding: 0 20rpx;
    border-radius: 2px;
    height: 80rpx;
    background-color: #eee; 
    color: $dark;
    line-height: 1;
    @include flex();
    @include fvertical();
    @include fcenter();
    &:active{
        opacity: 0.85;
    }
}