@import "../../uni.scss";

$duration: 0.3s all;

.the-picker {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;
  overflow: hidden;
  flex-direction: column;
  -webkit-flex-direction: column;
  transition: $duration;
  opacity: 0;
  visibility: hidden;

  .picker-option {
    width: 100%;
    padding: 12rpx 0;

    .picker-title {
      font-size: 32rpx;
      color: #555;
      font-weight: 500;
      text-align: center;
      line-height: 1;
    }

    .btn {
      font-size: 30rpx;
      width: 160rpx;
      line-height: 80rpx;
      color: #999;
      text-align: center;
    }

    .confirm {
      color: $blue;
    }
  }

  .picker-content {
    background-color: #fff;
    transition: $duration;
    transform: translate3d(0, 100%, 0);

    .picker-view {
      width: 100%;
      height: 236px;

      .picker-item {
        text-align: center;
        line-height: 36px;
        font-size: 16px;
      }
    }
  }
}

.the-picker-show {
  opacity: 1;
  visibility: visible;

  .picker-content {
    transform: translate3d(0, 0%, 0);
  }
}